/* General and Body */
/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: linear-gradient(217deg, #fed05e, #fe5e72);
  background-size: 400% 400%;

  -webkit-animation: GradientAnimation 30s ease infinite;
  -moz-animation: GradientAnimation 30s ease infinite;
  animation: GradientAnimation 30s ease infinite;
}

/* App */

.App {
  display: grid;
  grid-template-columns: 200px 1fr;
  min-height: 100vh;
}

/* Header */
header {
  background: white;
  box-shadow: 1px 0 16px rgba(0, 0, 0, 0.2);
  display: grid;
  height: 100vh;
  position: sticky;
  top: 0;
  grid-template-rows: 1fr 100px;
}

.categories {
  padding: 40px;
  padding-bottom: 0;
}

a {
  color: #666;
}
.categories a {
  display: block;
  text-decoration: none;
  color: #666;
  padding: 8px 0;
}

.nav-icon {
  width: 15px;
  height: 15px;
  fill: #666;
  position: relative;
  top: 2px;
}

.primary-nav a.active,
.primary-nav a.active .nav-icon,
.categories a:hover,
.categories a:hover .nav-icon {
  color: #fe5e72;
  fill: #fe5e72;
}

.footer {
  text-align: center;
}

.secondary-nav a {
  text-decoration: none;
  display: inline-block;
  margin: 10px;
}

.logo {
  margin: 0;
}

.secondary-nav {
  border-top: 1px solid #ccc;
  text-align: center;
}

/* Resources */
.resources {
  padding: 100px;
  max-width: 1324px;
  margin: auto;
}

.resources__title {
  margin-top: 0;
}
.resources__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
  grid-row-gap: 50px;
  grid-column-gap: 50px;
}

.resource {
  border-radius: 20px;
  overflow: hidden;
  background: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  position: relative;
}

.resource__text {
  padding: 10px;
}

.resource__image {
  max-width: 100%;
  height: auto;
}

.resource__buttons {
  position: relative;
  top: -20px;
  text-align: center;
  background: white;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  display: block;
  margin: auto;
  width: 100px;
}
.button-icon {
  width: 20px;
  height: 20px;
  padding: 0;
  border: none;
  fill: #ccc;
  display: inline-block;
  margin: 5px;
  cursor: pointer;
  text-align: center;
  background: none;
}
.favorite.favorited {
  fill: #fe5e72;
}

.resource__text {
  margin-top: -30px;
}

/* Newsletter Sign-up */

/* Animation */
@-webkit-keyframes GradientAnimation {
  0% {
    background-position: 88% 0%;
  }
  50% {
    background-position: 13% 100%;
  }
  100% {
    background-position: 88% 0%;
  }
}
@-moz-keyframes GradientAnimation {
  0% {
    background-position: 88% 0%;
  }
  50% {
    background-position: 13% 100%;
  }
  100% {
    background-position: 88% 0%;
  }
}
@keyframes GradientAnimation {
  0% {
    background-position: 88% 0%;
  }
  50% {
    background-position: 13% 100%;
  }
  100% {
    background-position: 88% 0%;
  }
}
